.heading {
    color: #FFA6FB;
    font-size: 100px;

    align-items: center;
    align-self: center;
    /* flex: 1; */
}

@media (max-width: 768px) {
  .heading {
    width: 80%;
    font-size: 40px;
    text-align: center;
    text-wrap: wrap;
  }
}


.heading:hover {
    cursor: pointer;
    color: #FFB3FF;
}