.socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;

    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 20px;
}

@media (max-width: 1207px) {
  .socials {
    /* flex-direction: column; */
    padding: 50px;
    gap: 20px;
    position: relative;
  };
}


.social-link {
    text-decoration: none;
    color: black;
}